.nav{
    background-color:blueviolet;
}
.nav li{
    display: inline;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 25px 25px 25px 25px;
}
#text{
    font-size:xx-large;
    color:black;
}
#margin{
    margin-left:90%;
}
.site .shoe img{
    height: 220px;
    width: 220px;
    float:  left;
    margin: 5px;
    border: 1px solid black;
}

.site .shoe{
    margin: auto;
    width: 70%;
    margin-top: 15px;
}
.hyper .link {
    display:block;
    
}
.link{
    float:right;
    width: 21%;
    margin-right: auto;
}
.hyper .link a{
    font-size: 25px;
    margin:initial;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
}